<!doctype html>
<html lang="en">
<head>
    <title>auth1 proj</title>
</head>

<body>
    <% if(userId) { %>
        <h3>current user is logged in as <%=userId%></h3>
    <%} else {%>
        <h3>current user is NOT logged in</h3>
     <%}%>
    <h1>this is the <strong>home</strong> page</h1>
</body>
</html>